body {
  margin: 40px;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url(./assets/eleos-bg.jpg);*/
  background:  #eef9de;
  color: #000000;
  opacity: 0.8;
}

div.app-name {
  font-size: 110px;
}

